.index__main
  .header
    .header__title
      Athlete
    .header__login
      -# = link_to "ログイン", new_user_registration_path()
        
      = link_to "ログイン", new_user_session_path()
      

  .post__main

    

    %video{:class=>"post__main__video",:autoplay => "", :loop => "", :muted => "", :src => "https://i.gyazo.com/2eaad851ac3ab53a90e2e23d11bf4862.mp4"}
    .post__main__text
      %p このアプリケーションは
      %p 日々の練習や試合をチーム内で共有できます。
      %p ミーティングでメンバーが集まれなくても大丈夫。
      %p どこにいてもミーティングに参加できます。
    .post__main__signin
      %h2 新規会委員登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワード（確認用）
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "登録"
      -# = render "devise/shared/links"

      
  .footer
    %p HOME
    %p NEWS
    %p TEAM
    %p MEMBER
    %p RECRUIT
    %p GAME
    %p BLOG
    %p FLAG TEAM
    %p GALLERY
    %p SCHEDULE