= render "template/template_header"
.tweet__main
  .tweet__main__content
    .tweet__main__content__title
      %p 明日の予定
    .tweet__main__content__text
      = form_with model: @tweet, class: :form, local: true do |form|
        %span 予定日 
        %br/
        = form.text_field :date, placeholder: :"例2020/11/22", class: :tweet__main__content__text__form
        %span 集合 
        %br/
        = form.text_field :place,  placeholder: :○○駅, class: :tweet__main__content__text__form
        %span 内容
        %br/
        = form.text_area :text, placeholder: :内容, class: :tweet__main__content__text__low
        %br/
        = form.submit "投稿する", class: :tweet__main__content__text__submit
= render "template/template_footer"