= render "template/template_header"

.post__show
  .post__show__left
    .post__show__left__content
      .post__show__left__content__title
        %p  #{@post.text}
        -# = link_to "削除","posts/post.id"
        = link_to '削除', "/posts/#{@post.id}",method: :delete

      %video{:class=>"post__show__left__content__video",:autoplay => "", :loop => "", :muted => "", :src => "#{@post.video}"}

  .post__show__right
    .post__show__right__coment
      - if @comments
        - @comments.each do |comment|
          .coment__list
            = comment.user.name
            = comment.text

    .post__show__right__form
      = form_with(model: [@post, @comment], class: :form, local: true) do |form|
        = form.text_field :text, placeholder: :コメント, class: :form__title
        = form.submit "投稿", class: :btn


= render "template/template_footer"